@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-prim-900 : #2b2b2b;
    --color-secun-700 : #7a667a;
    --color-icosub-650:#31006f;
    --color-fondohist-600:#360c72;
    --color-botonentrar-500:#632cd5;
    --color-fondomenu-350:#E4D7FF;
    --color-column-300:#bebebe;
    --color-fondoiconos-250:#f0eafc;
    --color-cuart-200:#fcfbff;
    --color-terci-100:#ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Inter", sans-serif;
    /* Aca tenia que haber normalizado el background color con white o no ponerle nada directamente...creo */
    background-color: var(--color-cuart-200);
}
h1{
    font-size: 40px;
    padding: 64px 0px 32px 0px;
    text-align: center;
}
/* body{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
a{
    color: inherit;
    text-decoration: none;
}
h2{
    font-size: 24px;
}
p{
    font-size: 18px;
}
ul{
    list-style-type: none;
}

.header-full{
    background-color: #ffffff;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.2);
    z-index: 99;
}
.nav-header{
    background-color: #ffffff;
    padding: 16px;
    font-size: 14px;
    font-weight: bold;
    width: 1022px;
    height: 82px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: none;
    }

.bi-list{
    background-color: #ffffff;
}
.icono-vacio{
    width: 4px;
    height: 4px;
    background-color: white;
}
.menu-burguer{
    background-color: white;
    width: 25px;
    height: 25px;
}

.a-img-header{
    background-color: #ffffff;
}

    .ul-header{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6px 24px;
}
.list-header{
    background-color: white;
}
.a-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    margin: 0px 4px;
}
.divisor-header{
    width: 1px;
    height: 24px;
    background-color: var(--color-column-300);
}
.a-header:hover {
    background: var(--color-fondomenu-350);
    color: var(--color-icosub-650);
    border-radius: 50px;
}
.buttons-header{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}
.button-left{
    display: flex;
    padding: 12px 24px;
    color: var(--color-botonentrar-500);
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    transition: background-color 0.3s ease, color 0.3s ease;

}
.button-right{
    padding: 12px 24px;
    color: var(--color-terci-100);
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    background-color: var(--color-botonentrar-500);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.button-left:hover{
    color: var(--color-icosub-650);
    background-color: var(--color-fondomenu-350);
}
.button-right:hover{
    color: var(--color-icosub-650);
    background-color: var(--color-fondomenu-350);
}
.tarjetas{
    display: flex;
    flex-direction: row;  
    width: 1022px;
    max-width: 1022px;
    justify-content: space-between;
}
.icono-tarjetas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 318px;
    height: 248px;
    background-color: white;
    border-radius: 16px;
    margin: 12px 0px 0px;
    padding: 24px;
    transition: transform 0.5s ease;    
}
.text-tarjetas{
    background-color: transparent;
}
.texto{
    color: rgb(73, 73, 73);
}
.icono-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border-radius: 16px;
    background-color: var(--color-fondoiconos-250);
}
svg{
    color: var(--color-botonentrar-500);
    width: 25px;
    height: 25px;
    background-color:var(--color-fondoiconos-250);
    
}
.icono-tarjetas:hover{
    transform: translateY(-6px);
}
.icono-tarjetas:hover svg{
    transition: 0.3s ease; color;
    color: var(--color-prim-900);
}
.text-historias{
    background-color: transparent;
}
.cont-historias{    
    width: 1022px;
    max-width: 1022px;
    height: 134px;
    color: var(--color-terci-100);
    background-color: var(--color-fondohist-600);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 64px;
    border-radius: 32px;
    margin-top: 32px;
}
.conocer-historias{
    background-color: transparent;
    width: 670px;
    height: 70px;
}
.ancla-historias{
    font-weight: bold;
    color: var(--color-botonentrar-500);
    padding: 10px 32px;
    border-radius: 50px;
    background-color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.ancla-historias:hover{
    color: var(--color-fondomenu-350);
    background-color: black;
}
.texto-cobro{
    color: rgb(73, 73, 73);
    font-size: 16px;
    text-align: center;
}
.padre-qr{
    width: 1022px;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 32px;
    background-color: white;
    overflow: hidden;
    margin-top: 36px;
}
.content-qr{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 24px;
    padding: 24px;
    box-sizing: border-box;
}
.cont-btn{
    background-color: #ffffff;
    margin-top: 110px;
}
.img-cobros{
    height: 370px;
    width: auto;
    object-fit: cover;
    transition: transform 0.5s ease;
}
.img-cobros:hover{
    transform: scale(1.05);
}

.texto-interior{
    background-color: white;
}
.h2-interior{
    font-size: 30px;
    padding: 0px 0px 24px;

}
.btn-conocer{
    font-weight: bold;
    font-size: 14px;
    padding: 10px 32px;
    border-radius: 50px;
    background-color: var(--color-botonentrar-500);
    color: var(--color-terci-100);
    transition: background-color 0.3s ease;
}
.btn-conocer:hover{
    background-color: var(--color-icosub-650);
}
.padre-posnet{
    width: 1022px;
    height: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 32px;
    background-color: white;
    overflow: hidden;
    margin-top: 36px;
}
.content-posnet{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 24px;
    padding: 24px;
    box-sizing: border-box;
}
footer{
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 1022px;
    padding-top: 24px;
    box-shadow: 0 -0.5px 1px rgba(0,0,0,0.2);
}
.footer-container{
    width: 1022px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 64px 0 64px;
}
.icono-footer{
    margin-top: 24px;
    margin-left: 64px;
    margin-bottom: 12px;
    width: 958px;
    height: 44px;
    background-color: #ffffff;
}
.top-icono{
    width: 46px;
    height: 46px;
    margin-bottom: 12px;
    background-color: white;
}
.top-ul-footer{
    font-weight: bold;
    margin-bottom: 32px;
    background-color: #ffffff;
}
.link{
    background-color: #ffffff;
}
.ul-container{
    background-color: #ffffff;
    margin-bottom: 24px;
}
.ul-footer{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.li-footer{
    background-color: #ffffff;
}
.header-pocket{
    width: 100%;
    height: 56px;  
        position: sticky;
    top: 0;  
    z-index: 99;
}
.nav-pocket{

    background-color: #ffffff;
    padding: 16px;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.2);
}
