@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-prim-900 : #2b2b2b;
    --color-secun-700 : #7a667a;
    --color-icosub-650:#31006f;
    --color-fondohist-600:#360c72;
    --color-botonentrar-500:#632cd5;
    --color-fondomenu-350:#E4D7FF;
    --color-column-300:#bebebe;
    --color-fondoiconos-250:#f0eafc;
    --color-cuart-200:#fcfbff;
    --color-terci-100:#ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Inter", sans-serif;
    background-color: var(--color-cuart-200);
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    color: inherit;
    text-decoration: none;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 24px;
}
p{
    font-size: 18px;
}
ul{list-style-type: none;}
header{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.2);

}
.nav-header{
    padding: 16px;
    font-size: 14px;
    font-weight: bold;
    width: 1022px;
    max-width: 1022px;
    height: 82px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.ul-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6px 24px;
}
.a-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    margin: 0px 4px;
}
.divisor-header{
    width: 1px;
    height: 24px;
    background-color: var(--color-column-300);
}
h1{
    font-size: 30px;
    padding: 64px 0px 32px 0px;
}
.a-header:hover {
    background: var(--color-fondomenu-350);
    color: var(--color-icosub-650);
    border-radius: 50px;
}
.buttons-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}
.button-left{
    display: flex;
    padding: 12px 24px;
    color: var(--color-botonentrar-500);
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    transition: background-color 0.3s ease, color 0.3s ease;

}
.button-right{
    padding: 12px 24px;
    color: var(--color-terci-100);
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    background-color: var(--color-botonentrar-500);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.button-left:hover{
    color: var(--color-icosub-650);
    background-color: var(--color-fondomenu-350);
}
.button-right:hover{
    color: var(--color-icosub-650);
    background-color: var(--color-fondomenu-350);
}