@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario-900 : #2b2b2b;
    --color-secundario-700 : #7a667a;
    --color-icosub-650:#31006f;
    --color-fondohist-600:#360c72;
    --color-botonentrar-500:#632cd5;
    --color-fondoiconos-250:#f0eafc;
    --color-terciariio-400 : #652edf;
    --color-cuart-200:#fcfbff;
    --color-terciario-100:#ffffff;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Inter", sans-serif;
    background-color:var(--color-terciario-200);
}
a{
    color: inherit;
    text-decoration: none;

}